

<nav class="teal">
   <div class="nav-wrapper">
      <a href="/dashboard" class="brand-logo left">Scheduler App</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
         <li><a href="/dashboard">Dashboard</a></li>
         <li><a href="/courseworks/add">Add Coursework</a></li>
         <li><a href="/active">Active Courseworks</a></li>
         <li><a href="/auth/logout">Log out</a></li>
      </ul>
   </div>
</nav>

